html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-image: url("http://www.wallsave.com/wallpapers/1920x1080/flores-blanco-fondo/951524/flores-blanco-fondo-los-niveles-de-grises-texturas-pantalla-ancha-951524.jpg");
}

ol, ul {
    list-style: none;
}

/**
 *  Styles
 */

a:link,
a:visited,
a:active,
a {
	color: rgb(217,62,44);
	text-decoration:none;
	cursor: hand;
}

h1, h2,h3,
p {
	color: rgb(47,54,72);
	text-shadow: 1px 1px 1px rgb(50,47,42);
	line-height: 1.6;
}

h1 { 
	font-size: 120px; 
	color: rgba(50,47,42, .5);
}

h2 { font-size: 70px; }

h3{
	color: rgb(50,50,210) ;
	font-size: 55px;
}

/* Fallback por si impress.js no es soportado */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.5;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/* estilo basico para cada step */

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.4;
}

/* colocamos un poco mas opaco los slides inactivos */

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.right {
	float: right;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }


#main-footer {
	background-color: rgb(47,54,72);
	bottom: 1px;
	position: absolute;
	padding: 10px 20px;
	border-radius: 0 20px 0 0;
}

	#main-footer > p {
		color: rgb(241,224,170);
	}

/* Presentaciones */

#paso-1 { }



#paso-2 {
	height: 700px;
	padding-top: 390px
}

#paso-3 b {
	display: inline-block;
    	-webkit-transition: 0.5s;
    	-moz-transition:    0.5s;
    	-ms-transition:     0.5s;
    	-o-transition:      0.5s;
    	transition:         0.5s;
}

#paso-3.present .positioning{
	text-align: center;
	-webkit-transform: translateY(-10px);
	-moz-transform:    translateY(-10px);
    	-ms-transform:     translateY(-10px);
    	-o-transform:      translateY(-10px);
    	transform:         translateY(-10px);
    	
}
#paso-3 > h3 {
	text-align: center;
}
